$border-color: #e0e0e0;

.tax-phut_timeline .archive-description {
	border: 1px solid $border-color;
	padding: 16px 16px 0 16px;
	margin-bottom: 0;
	border-bottom-width: 3px;
}





.timeline {

	
	position: relative;
	margin: 0 0 1.5em 0px;
	padding: 60px 0px 1px 0px;
	

	
	&:before {
		content:"";
		background: $border-color;
		height: 100%;
		left: 16px;
		position: absolute;
		top: 0;
		width: 3px;
	}



	.type-phut_timeline_entry {
	
		background: transparent;
		padding:0;
		margin:0 0 60px 0;
		border: 0 !important;
		position: relative;
		
		.timeline-icon {
			background: white;
			width: 33px;
			height: 33px;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;

			border: 3px solid $border-color;
			overflow:hidden;
		}	
		

		
		
		.timeline-content {
			background: white;
			border: 1px solid $border-color;
			padding: 16px;
			
			//
			padding: 0;
			//
			box-shadow: 0 3px 0 rgba(0,0,0,0.1);
			// margin-left: 32px;
			// margin-left: 64px;
			margin-left: 48px;
			
			// font-family: courier;

			&:before {
				content: '';
				position: absolute;
				left: 48px;
				margin-left: -7px;
				top: 9px;
				width: 0; 
				height: 0; 
				border-top: 7px solid transparent;
				border-right: 7px solid $border-color;
				border-bottom: 7px solid transparent; 
				border-left: 0;		
			}
		}
		
		
		.timeline-date {
			background: $border-color;
			color: #424242;
			// margin: -16px -16px 16px -16px;
			padding: 8px 16px 8px;
			
			// margin-bottom: 24px;
			
			a {

				text-decoration: none;
				text-shadow: 1px 1px 0 white;
				
				&:hover,
				&focus,
				&:active {
	
					text-decoration: underline
				}
			}
		}
		
		.entry-content {
			font-size: 14px;
			font-size: 1.4rem;
			padding: 16px 16px 0 16px;
			
			p { margin-bottom: 16px;}
		}
		
		
		.timeline-image {
			margin-bottom: 16px;
			padding: 0 16px;
			
			a { display: block;}
			
			img {
				border:6px solid white;
				box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
			}
		}
		
		
		.entry-footer {
			border-top: 1px solid $border-color;
			padding: 8px 16px;
		}
		
		
		/*
		&.alt {
		
			.timeline-icon,
			.timeline-content {
				background-color: cornsilk;
			}
		}
		*/

	}











}










// @media screen and (min-width: 768px) {
@media screen and (min-width: 576px) {





	.timeline {
		// padding-left: 16px;
		// padding-right: 16px;
		
		padding-left: 0px;
		padding-right: 0px;
		
/*	
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
*/		
	
	  	margin-left:0;
		
		&:before {
			left: 50%;
		
		}
		
		
	.type-phut_timeline_entry {
	
		.timeline-icon {
			left: 50%;
			margin-left: -15px;
		}
	
	
		.timeline-date {

			background: $border-color;
			text-align: right;


		}

		.timeline-content {
			width: 45%;
			float: left;
			margin-left: 0;

			&:before {
				left: 45%;
				border-left: 7px solid $border-color;
				border-right:0;
				margin-left:0;
			}

		}
		
		.timeline-image {
			position:absolute;
			width: 45%;
			top: 0;
			right: 0;
			padding: 0;
			margin: 0;
			
			a {
				display: block;
				width: 55%;
				float: left;
			}
			
			img {
				margin-top: 3px;
				transform: rotate(-3deg);
			}
		}
		
		




		&.alt {
		
			.entry-meta {
				text-align: left;
			}
			
			.timeline-date {
				text-align: left;
			}
		
			.timeline-content {
				float: right;
				
				&:before {
					right: 45%;
					left: inherit;
					border-left: 0;
					border-right: 7px solid $border-color;		
				}
			}
			
			
			.timeline-image {
				left: 0;
			
				a {

					float: right;
				}

				img {
					margin-top: -20px;
					transform: rotate(3deg);

				}
			}
			
			

		
		}

	
	}
	

	

		


	
}
	

	

	

	
	

	

	
	

	

	

}
